# ==============================================
# EPAD - Variaveis de Ambiente
# ==============================================

# Banco de dados (PostgreSQL - Neon)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="gerar-com-openssl-rand-base64-32"
NEXTAUTH_URL="https://seu-dominio.vercel.app"
